<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Name Tool</title>
    <link rel="stylesheet" href="../SharedComponents/sharedComponents.css" />
  </head>
  <body id="app">
    <h1>Code Name Tool</h1>
    <h2 v-show="blueGoFirst" style="color:blue">Blue Go First</h2>
    <h2 v-show="!blueGoFirst" style="color:red">Red Go First</h2>
    <table id="targetTable" style="border: 5px solid black; border-collapse: collapse;">
      <tbody>
        <tr v-for="(line,lineIndex) in array">
          <td v-for="(cell,cellIndex) in line" :style="{'background-color':cell,'width':size+'px','height':size+'px','border':'5px solid black'}">
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
    <button @click="modifySize(10)" style="font-size: 40px;">&nbsp;+&nbsp;</button>
    <button @click="modifySize(-10)" style="font-size: 40px;">&nbsp;&nbsp;-&nbsp;&nbsp;</button>
    <br/>
    <button @click="init()">Regenerate</button>
    <button @click="revertLastStep()">Revert Last Step</button>
    <br/>
    <a href="../index.html">Back to main page</a>
    
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="./codeNameTool.js"></script>
</html>
