<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chicken And Bugs</title>
    <link rel="stylesheet" href="./chickensAndBugs.css" />
    <link rel="stylesheet" href="../SharedComponents/sharedComponents.css" />
  </head>
  <body id="app">
    <h1>Chicken And Bugs</h1>
    <span class="turnHint">Now is <span class="playerTurnHint"> Player {{playerTurn}}</span>'s turn</span><img :src="'./img/C'+playerTurn+'.png'" class="chessImg" /><br />
    <h2 :class="{hidden:!placePhase,}">Placing Phase</h2>
    <div>
      <svg width="700" height="550" id="paintPlace">
        <g v-for="(line,lineIndex) in boardArray">
          <g v-for="(cell,cellIndex) in line">
            <image :href="cell==-1?'./img/Hole.png':'./img/Grass'+cell+'.png'" width="80" height="80" :x="getCoodX(lineIndex,cellIndex)" :y="getCoodY(lineIndex)" @click="selectCell(lineIndex,cellIndex)" />
          </g>
        </g>
        <g v-for="(chickenList,playerIndex) in chickenPlace">
          <image v-for="(chicken,chickenIndex) in chickenList" :href="'./img/C'+playerIndex+'.png'" :id="'C'+playerIndex+'_'+chickenIndex+'.png'" width="80" height="80" :x="chicken[0]==-1?-100:getCoodX(chicken[0],chicken[1])" :y="getCoodY(chicken[0])" @click="selectCell(chicken[0],chicken[1])" />
        </g>
        <image href="./img/Chosen.png" height="80" width="80" :x="isChoosing?getCoodX(chosen[0],chosen[1]):-100" :y="isChoosing?getCoodY(chosen[0]):-100" />
        <image v-for="(img,imageId) in validCellImage" href="./img/Possible.png" width="80" height="80" :x="getCoodX(img[0],img[1])" :y="getCoodY(img[0])" @click="selectCell(img[0],img[1])" />
      </svg>
    </div>
    <div id="scoreBar">
      <div v-for="(score,scoreIndex) in playerScore" class="inlineBlock">
        <image :src="'./img/C'+scoreIndex+'.png'" class="scoreIcon"></image>
        <span class="scoreText">{{score}}</span>
        <image src="./img/Earthworm.png" class="scoreIconl" />
      </div>
    </div>
    <button @click="init()">Reset</button>
    <button @click="initWithMoreThanTwoPlayer()">Reset 2+</button>
    <button @click="revertLastStep()">Revert Last Step</button>
    <h2>Rule</h2>
    <div>
      <ul>
        <li>Do two actions in order : move your chicken, pick up the board</li>
        <li>At the begining, player take turn to put chicken onto a board with one earthworm</li>
        <li>Chicken can move as far as it wants in the line if no hole and chicken there, after board picked up, replaced with hole.</li>
        <li>Game will end when all chickens cannot move</li>
        <li>The player with most earthworm will be the winner</li>
      </ul>
    </div>
    <div id="snackbar">Some text some message..</div>
    <a href="../index.html">Back to main page</a>
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="./chickensAndBugs.js"></script>
</html>
