<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chicken And Bugs</title>
    <link rel="stylesheet" href="./chickensAndBugs.css" />
    <link rel="stylesheet" href="../SharedComponents/sharedComponents.css" />
  </head>
  <body id="app">
    <h1>Chicken And Bugs</h1>
    <span class="turnHint">Now is Player <span class="playerTurnHint">{{playerTurn}}</span>'s turn</span><img :src="'./img/C'+playerTurn+'.png'" class="chessImg" /><br />
    <div>
      <svg width="700" height="550" id="paintPlace">
        <g v-for="(line,lineIndex) in boardArray">
          <g v-for="(cell,cellIndex) in line">
            <image :href="'./img/Grass'+cell+'.png'" width="80" height="80" :x="cellIndex*80+(lineIndex%2==0?40:0)" :y="lineIndex*61" />
          </g>
        </g>
      </svg>
    </div>
    <button @click="init()">Reset</button>
    <button @click="revertLastStep()">Revert Last Step</button>
    <h2>Rule</h2>
    <div>
      <ul>
        <li>Do two actions in order : move your chicken, pick up the board</li>
        <li>At the begining, player take turn to put chicken onto a board with one earthworm</li>
        <li>Chicken can move as far as it wants in the line if no hole and chicken there, after board picked up, replaced with hole.</li>
        <li>Game will end when all chickens cannot move</li>
        <li>The player with most earthworm will be the winner</li>
      </ul>
    </div>
    <div id="snackbar">Some text some message..</div>
    <a href="../index.html">Back to main page</a>
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="./chickensAndBugs.js"></script>
</html>
