#targetTable{
    border: 2px solid black;
    width: 30%;
    display: inline-table;
}
#operationTable{
    display: inline-table;
    border: none;
}
#operationTable td{
    border: none;
}
td{
    border: 2px dashed black;
    overflow: hidden;
}
.chosen{
    border: 3px solid red;
    border-radius: 3px;
}
.chessImg{
    width: 100%;
    display: block;
}
.turnImg{
    width: 50px;
}
.operationImg{
    width: 80px;
}
.cellWithHint{
    border: 3px solid red;
}
.turnHint{
    font-size: 30px;
}
.playerTurnHint{
    color: red;
}
.notAbleChoose{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.hideOperationTable{
    visibility: hidden;
}
.hiddenTarget{
    display: none;
}