<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clash On Stones</title>
    <link rel="stylesheet" href="./clashOnStones.css" />
    <link rel="stylesheet" href="../SharedComponents/sharedComponents.css" />
  </head>
  <body id="app">
    <h1 style="margin-bottom: 0px">Clash On Stones</h1>
    <span class="turnHint">【Turn {{turnCount}}】 Now is <span class="playerTurnHint"> Player {{playerTurn}}</span>'s move</span><img :src="'./img/'+playerTurn+'_Clear.png'" class="turnImg" /><br />
    <table id="targetTable">
      <tbody>
        <tr v-for="(line,lineIndex) in chessboard">
          <td v-for="(cell,cellIndex) in line" :class="{chosen:lineIndex==chosen[0]&&cellIndex==chosen[1]&&isChoosing, cellWithHint:isValidStep(lineIndex,cellIndex)}" @click="selectCell(lineIndex,cellIndex)" style="background-img: './img/Grass.png'">
            <img class="chessImg" :src="'./img/'+(cell=='-'?'Grass':cell)+'.png'" />
          </td>
        </tr>
      </tbody>
    </table>
    <table id="operationTable" :class="{hideOperationTable:!isChoosing}">
      <tr>
        <td></td>
        <td><img id="dir0" :class="{operationImg:true,notAbleChoose:operationDetection[0]==0}" :src="'./img/turn_'+operationTarget[1]+'0.png'" @click="operationDetection[0]==1&&clickOperation('0')" /></td>
        <td></td>
      </tr>
      <tr>
        <td><img id="dir3" :class="{operationImg:true,notAbleChoose:operationDetection[3]==0}" :src="'./img/turn_'+operationTarget[1]+'3.png'" @click="operationDetection[3]==1&&clickOperation('3')" /></td>
        <td><img id="operationTarget" class="operationImg" :src="'./img/'+operationTarget+'_Op.png'" /></td>
        <td><img id="dir1" :class="{operationImg:true,notAbleChoose:operationDetection[1]==0}" :src="'./img/turn_'+operationTarget[1]+'1.png'" @click="operationDetection[1]==1&&clickOperation('1')" /></td>
      </tr>
      <tr>
        <td><img id="retreatOp" :class="{operationImg:true,hiddenTarget:isAbleToRetreat()}" :src="'./img/retreat.png'" @click="retreat()" /></td>
        <td><img id="dir2" :class="{operationImg:true,notAbleChoose:operationDetection[2]==0}" :src="'./img/turn_'+operationTarget[1]+'2.png'" @click="operationDetection[2]==1&&clickOperation('2')" /></td>
        <td><img id="cancelOp" :class="{operationImg:true}" :src="'./img/X_clear.png'" @click="isChoosing=false;updateValidCellToMove()" /></td>
      </tr>
    </table>
    <div style="margin-top: 10px">
      <span v-for="n in chessCount[0]"
        ><td><img :class="{operationImg:true, chosen:chosen[0]==-1&&chosen[1]==1&&n==1&&isChoosing&&playerTurn=='A'}" :src="'./img/A_Clear.png'" @click="choosingWaitingZone('A')" /></td
      ></span>
      <span v-for="n in chessCount[1]"
        ><td><img :class="{operationImg:true, chosen:chosen[0]==-1&&chosen[1]==2&&n==1&&isChoosing&&playerTurn=='B'}" :src="'./img/B_Clear.png'" @click="choosingWaitingZone('B')" /></td
      ></span>
    </div>
    <button @click="init()">Reset</button>
    <button @click="revertLastStep()">Revert Last Step</button>
    <h2>Rule</h2>
    <div>
      <ul>
        <li>
          In you turn, you can choose 1 of below actions
          <ul>
            <li>Put one of animals to border of the board with any direction(maybe with push)</li>
            <li>Move one valid step to the face direction(space / push)</li>
            <li>Change one of your animals direction, without moving it</li>
            <li>Move one of your animals from border to waiting zone</li>
          </ul>
        </li>
        <li>First two turn of each player, should not place the animal to the cell with cross.</li>
        <li>To check can push a line or not, just count all animals' direction on the line, with the direction you want to move and opposite, if your side power more than that, then can push whole line.</li>
        <li>When first stone moved out from the borad, the game over, and the one most close to the stone and face the same direction to the stone won the game.</li>

        <li>The player with most earthworm will be the winner</li>
      </ul>
    </div>
    <div id="snackbar">Some text some message..</div>
    <a href="../index.html">Back to main page</a>
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="./clashOnStones.js"></script>
</html>
