<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Queen Chess</title>
    <link rel="stylesheet" href="./allQueenChess.css" />
  </head>
  <body id="app">
    <h1>All Queen Chess</h1>
    <span class="turnHint">Now is Player <span class="playerTurnHint">{{playerTurn}}</span>'s turn</span><img :src="'./img/'+playerTurn+'.png'" class="chessImg" /><br />
    <table id="targetTable">
      <tbody>
        <tr v-for="(line,lineIndex) in chessboard">
          <td v-for="(cell,cellIndex) in line" :class="{chosen:lineIndex==chosen[0]&&cellIndex==chosen[1]&&isChoosing, cellWithHint:isValidStep(lineIndex,cellIndex)}" @click="selectCell(lineIndex,cellIndex)">
            <img class="chessImg" :src="'./img/'+(cell=='-'?'space':cell)+'.png'" />
          </td>
        </tr>
      </tbody>
    </table>
    <button @click="init()">Reset</button>
    <h2>Rule</h2>
    <div>
      <ul>
        <li>All chesses move like queen.</li>
        <li>The chess cannot cross another chess</li>
        <li>Players take turn to move one of their chesses</li>
        <li>First player make 4 of his/her chesses in-a-line won the game.</li>
      </ul>
    </div>
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="./allQueenChess.js"></script>
</html>
