#targetTable{
    border: 2px solid black;
    width: 50%;
    table-layout: fixed;
}
#targetTable tr td{
    border: 2px solid black;
    width: 10%;
    max-height: 10%;
    overflow: hidden;
}