#targetTable{
    border: 2px solid black;
    width: 50%;
}
td{
    border: 2px solid black;
    width: 50px;
    overflow: hidden;
}
.chosen{
    border: 5px solid red;
    border-radius: 3px;
}
.chessImg{
    width: 80px;
}