.chessImg{
    width: 80px;
    height: 80px;
    border: 5px black solid;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}
.middleMargin{
    margin: 15px;
    margin-bottom: 0px;
}
.space{
    width: 80px;
    height: 10px;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.chosen{
    border: 5px red solid;
    border-radius: 5px;
}
.validCell{
    border: 5px red dashed;
    border-radius: 5px;
}
.bridgeBase{
    width: 700px;
}
.td{
    border: solid 1px black;
}