<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>On The Bridge</title>
    <link rel="stylesheet" href="./onTheBridge.css" />
  </head>
  <body id="app">
    <h1>On The Bridge</h1>
    <span class="turnHint">Now is Player <span class="playerTurnHint">{{playerTurn}}</span>'s turn</span><img :src="'./img/'+playerTurn+'W.png'" class="chessImg" /><br />
    <table id="targetTable">
      <tbody>
        <tr v-for="(line,lineIndex) in chessboard">
          <td v-for="(cell,cellIndex) in line" :class="{chosen:lineIndex==chosen[0]&&cellIndex==chosen[1]&&isChoosing, chosen:chosen[0]==lineIndex&&chosen[1]==cellIndex&&isChoosing,validCell:validCell[0]==lineIndex&&validCell[1]==cellIndex&&isChoosing}" @click="selectCell(lineIndex,cellIndex)">
            <img :src="cell=='-'?'./img/space.png':'./img/'+cell+'.png'" :class="{chessImg:true, space:cell=='-', middleMargin:cellIndex!=0&&cellIndex!=5}" />
          </td>
        </tr>
      </tbody>
    </table>
    <div id="bridgeBase">
      <img src="./img/Bridge.png" class="bridgeBase" />
    </div>
    <h2>Waiting Place</h2>
    <div id="waitingPlaceW"><img v-for="(w,wi) in waitingPlaceW" :src="'./img/'+w+'.png'" :class="{chessImg:true,chosen:chosen[0]==-1&&chosen[1]==wi&&isChoosing}" @click="selectCell(-1,wi)" /></div>
    <div id="waitingPlaceB"><img v-for="(b,bi) in waitingPlaceB" :src="'./img/'+b+'.png'" :class="{chessImg:true,chosen:chosen[0]==-2&&chosen[1]==bi&&isChoosing}" @click="selectCell(-2,bi)" /></div>
    <button @click="init()">Reset</button>
    <button @click="revertLastStep()">Revert Last Step</button>
    <h2>Rule</h2>
    <div>
      <ul>
        <li>Make all sheeps cross over the bridge won the game.</li>
        <li>Sheep can move one step, attach on different background color sheep, jump over same background color sheep.</li>
        <li>Players take turn to move one of their sheeps</li>
      </ul>
    </div>
    <div id="snackbar">Some text some message..</div>
    <a href="../index.html">Back to main page</a>
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="./onTheBridge.js"></script>
</html>
