<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get All Cheeses</title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css" />
    <link rel="stylesheet" href="./getAllCheeses.css" />
    <link rel="stylesheet" href="../SharedComponents/sharedComponents.css" />
  </head>
  <body id="app">
    <h1 class="text-center">Get All Cheeses</h1>
    <h4 class="text-center">Now is Player <span class="playerTurnHint">{{playerTurn}}</span>'s turn <img src="./img/mouse.png" class="chessImg" :style="{'background-color':playerColor[playerTurn-1]}" /> <button v-show="phase=='choosing'&&chosen!=-1" @click="confirmChosen()">Confirm</button></h4>
    <div class="mt-5 mt-xl-2"></div>
    <div class="container">
      <div class="row">
        <div v-for="index in remainDiceCount" class="col-4 col-xl-2">
          <section class="diceContainer" @click="clickOnDice(index)">
            <div :id="'dice'+index" class="cube">
              <div class="front" :style="{'background-color':playerColor[playerTurn-1]}"></div>
              <div class="back"></div>
              <div class="right"></div>
              <div class="left" :style="{'background-color':playerColor[playerTurn-1]}"></div>
              <div class="top"></div>
              <div class="bottom"></div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div id="chosenArea" class="container">
      <div class="row">
        <div class="col-6">
          <img v-for="index in choseList['cheese0']" src="./img/cheese0.png" class="imgInConfirmedZone" />
          <img v-for="index in choseList['cheese1']" src="./img/cheese1.png" class="imgInConfirmedZone" />
          <img v-for="index in choseList['cheese2']" src="./img/cheese2.png" class="imgInConfirmedZone" />
        </div>
        <div class="col-6">
          <div class="col-12">
            <img v-for="index in choseList['cat']" src="./img/cat.png" class="imgInConfirmedZone" />
          </div>
          <div class="col-12"><img v-for="index in choseList['mouse']" src="./img/mouse.png" class="imgInConfirmedZone" :style="{'background-color':playerColor[playerTurn-1]}" /></div>
        </div>
      </div>
    </div>
    <div id="playerInfoArea" class="cotainer text-center">
      <div class="row">
        <span v-for="index in playerCount" class="col-6">
          <span class="col-3 h4"><span class="colorPin" @click="changeColor(index)" :style="{'background-color':playerColor[index-1]}"></span><span style="text-align: center">Player {{index}} : </span></span>
          <input :id="'color_input'+index" type="color" v-model="playerColor[index-1]" />
          <span class="col-2 h4">Score</span>
        </span>
      </div>
    </div>
    <button @click="init()">Reset</button>
    <h2>Rule</h2>
    <div>
      <ul>
        <li>All chesses move like queen.</li>
        <li>The chess cannot cross another chess</li>
        <li>Players take turn to move one of their chesses</li>
        <li>First player make 4 of his/her chesses in-a-line won the game.</li>
      </ul>
    </div>
    <div id="snackbar">Some text some message..</div>
    <a href="../index.html">Back to main page</a>
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="./getAllCheeses.js"></script>
</html>
