.chosen{
    border: 2px solid red;
    border-radius: 3px;
}
.chessImg{
    width: 80px;
}
.cellWithHint{
    border: 2px dashed red;
}
.turnHint{
    font-size: 30px;
}
.playerTurnHint{
    color: red;
}
input[type=color]{
  display: none;
}
.colorPin {
  border-radius: 50%;
  width: 30px;
  height: 30px; 
  display:inline-block;
  border: 1px solid black;
}
  
.front {
  background-image: url("./img/mouse.png");
  transform: 
    translateZ(40px);
}

.back {
  background-image: url("./img/cat.png");
  transform: 
    rotateX(-180deg)
    translateZ(40px);
}

.right {
  background-image: url("./img/cheese0.png");
  transform:
    rotateY(90deg)
    translateZ(40px);
}

.left {
  background-image: url("./img/mouse.png");
  transform:
    rotateY(-90deg)
    translateZ(40px);
}

.top {
  background-image: url("./img/cheese1.png");
  transform:
    rotateX(90deg)
    translateZ(40px);
}

.bottom {
  background-image: url("./img/cheese2.png");
  transform:
    rotateX(-90deg)
    translateZ(40px);
}

.diceContainer {
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #FFF;
  perspective: 1000px;
  perspective-origin: 50% 100%;
}

.imgInConfirmedZone{
  width: 80px;
  border: 5px black solid;
  margin-left: 5px;
  margin-top: 5px;
}
.cube {
  width: 80px;
  height: 80px;  
  transform-style: preserve-3d;
  transition: transform 3s;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.cube>div {
  display: block;
  position: fixed;
  width: 80px;
  background-size: 120%;
  background-position: center;
  background-repeat:no-repeat;
  border: 5px solid black;
  margin: 0 auto;  
  text-align: center;
  padding: 40px 0;
}