#targetTable{
    border: 2px solid black;
    width: 50%;
}
td{
    border: 2px solid black;
    width: 50px;
    overflow: hidden;
}
.chosen{
    border: 2px solid red;
    border-radius: 3px;
}
.chessImg{
    width: 80px;
}
.cellWithHint{
    border: 2px dashed red;
}
.turnHint{
    font-size: 30px;
}
.playerTurnHint{
    color: red;
}

  
.front {
  background-image: url("./img/mouse_nobg.png");
  transform: 
    translateZ(50px);
}

.back {
  background-image: url("./img/cat.png");
  transform: 
    rotateX(-180deg)
    translateZ(50px);
}

.right {
  background-image: url("./img/cheese0.png");
  transform:
    rotateY(90deg)
    translateZ(50px);
}

.left {
  background-image: url("./img/mouse_nobg.png");
  transform:
    rotateY(-90deg)
    translateZ(50px);
}

.top {
  background-image: url("./img/cheese1.png");
  transform:
    rotateX(90deg)
    translateZ(50px);
}

.bottom {
  background-image: url("./img/cheese2.png");
  transform:
    rotateX(-90deg)
    translateZ(50px);
}

.diceContainer {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #FFF;
  perspective: 1000px;
  perspective-origin: 50% 100%;
}

.cube {
  width: 100%;
  height: 100%;
  
  transform-style: preserve-3d;
  transition: transform 3s;
}

.cube>div {
  display: block;
  position: fixed;
  width: 100px;
  background-size: 100px;
  border: 5px solid black;
  margin: 0 auto;  
  text-align: center;
  padding: 50px 0;
}