<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find The Rabbit</title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css" />
    <link rel="stylesheet" href="./findTheRabbit.css" />
    <link rel="stylesheet" href="../SharedComponents/sharedComponents.css" />
  </head>
  <body id="app">
    <h1>Find The Rabbit</h1>
    <div class="container" style="display: none">
      <div class="row">
        <div class="col-2"><img src="./img/carrot_wb.png" style="background: orange" class="optionImgSize" /></div>
        <div class="col-2"><img src="./img/eggplant_wb.png" style="background: purple" class="optionImgSize" /></div>
        <div class="col-2"><img src="./img/grass_wb.png" style="background: greenyellow" class="optionImgSize" /></div>
        <div class="col-2"><img src="./img/hole_wb.png" style="background: brown" class="optionImgSize" /></div>
        <div class="col-2"><img src="./img/rabbit.png" style="background: white" class="optionImgSize" /></div>
      </div>
    </div>
    <div class="container" id="setupArea" v-show="phase=='setup'">
      <div class="row">
        <div class="col-12"><h2>Setup</h2></div>
        <div class="col-12">Question Count : <input type="number" v-model="questionMax" /></div>
        <div class="col-12">Player Count: <input type="number" v-model="playerCount" /></div>
        <div class="col-12"><button @click="setupOk" class="btn btn-secondary">OK</button></div>
      </div>
    </div>
    <div class="container mt-2" id="gameArea" v-show="phase=='game'">
      <div class="row mb-6" id="questionArea">
        <div class="col-12 monoText" v-if="isSinglePlayer"><h2>Times : {{timerInSecond}} s</h2></div>
        <div class="col-12"><h2>Q {{questionCount+1}}/{{questionMax}}.</h2></div>
        <div class="col-6" v-for="(obj,index) in questionObjectArr">
          <img :style="{'background-color':questionObjectColorArr[index],}" :src="'./img/'+obj+'_wb.png'" class="questionImgSize" />
        </div>
      </div>
      <div class="row mt-4" id="answerArea">
        <div :class="{'col-6':true, 'areaBorder':!isSinglePlayer}" v-for="index in playerCount">
          <h3>Player {{index}}</h3>
          <span
            ><h4>
              Score {{score[index-1]}}
              <span class="plusAni secondary" :style="{'color':isThePlayerAnswerCorrect[index-1]? '#00cc66':'#cc0000'}" v-if="showScoreAnimation">{{isThePlayerAnswerCorrect[index-1] ? 'O' : 'X'}}</span>
            </h4>
          </span>
          <div class="row">
            <span class="col-4"><img src="./img/carrot_wb.png" style="background: orange" @click="submitAnswer(index-1,0)" class="img-fluid" /></span>
            <span class="col-4"><img src="./img/eggplant_wb.png" style="background: purple" @click="submitAnswer(index-1,1)" class="img-fluid" /></span>
            <span class="col-4"><img src="./img/grass_wb.png" style="background: greenyellow" @click="submitAnswer(index-1,2)" class="img-fluid" /></span>
          </div>
          <div class="row mt-2">
            <span class="col-1"></span>
            <span class="col-4"><img src="./img/hole_wb.png" style="background: brown" @click="submitAnswer(index-1,3)" class="img-fluid" /></span>
            <span class="col-2"></span>
            <span class="col-4"><img src="./img/rabbit.png" style="background: white" @click="submitAnswer(index-1,4)" class="img-fluid" /></span>
            <span class="col-1"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <button @click="init()" class="btn btn-secondary mt-2 mb-2">Reset</button>
      <h2>Rule</h2>
      <div>
        <ul>
          <li>If any obj in the square match the orgin color, it will be the answer.</li>
          <li>If all objs are not map to its origin color, select the one color is not showing in the square.</li>
          <li>Faster player answers the correct option won the point.</li>
          <li>In the end, the player gets most points won the game.</li>
        </ul>
      </div>
      <div id="snackbar">Some text some message..</div>
      <a href="../index.html">Back to main page</a>
    </div>

    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalBtn"></button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="background-color: white">
        <div class="modal-content">
          <div class="modal-header">
            <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <img src="./img/rabbit_origin.png" class="shake" style="background-color: white; width: 50%; align-self: center" />
          <div class="modal-body text-center">{{modalMessage}}</div>
          <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
          </div>
          <button @click="init()" class="btn btn-secondary w-25">Reset</button>
        </div>
      </div>
    </div>
  </body>
  <script src="../lib/vue.global.js"></script>
  <script src="../lib/jquery.min.js"></script>
  <script src="../lib/bootstrap.bundle.min.js"></script>
  <script src="./findTheRabbit.js"></script>
</html>
